# API Gateway
PORT=8080
NODE_ENV=development

# JWT (doit correspondre à celui de l'auth-service)
JWT_SECRET=change_me_to_a_long_random_value

# URLs des services backend
AUTH_SERVICE_URL=http://localhost:8081
USER_SERVICE_URL=http://localhost:8082
PROFIL_SERVICE_URL=http://localhost:8083
POST_SERVICE_URL=http://localhost:8084
